
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<div id='jqxWidget'>
    <div id="jqxgrid"></div>
</div>
<br />
<h3>Detalle Comprobante </h3>
<br />
<div id="ordersGrid">
</div> 
@section Scripts{
<script type="text/javascript">
    $(document).on("ready", inicio);

    function inicio() {
        var source =
{
    datatype: "json",
    datafields: [
        { name: 'Cliente' },
        { name: 'Fecha' },
        { name: 'Monto' },
        { name: 'CodComp' },
    ],


    url: '@Url.Action("JsonCabComp", "Json", new { area = "" }, null)'
};


        var dataAdapter = new $.jqx.dataAdapter(source);

        /* Iniicio de Paginas de la Grilla  */
        var self = this;
        var pagerrenderer = function () {
            var element = $("<div style='margin-left: 10px; margin-top: 5px; width: 100%; height: 100%;'></div>");
            var datainfo = $("#jqxgrid").jqxGrid('getdatainformation');
            var paginginfo = datainfo.paginginformation;

            var leftButton = $("<div style='padding: 0px; float: left;'><div style='margin-left: 9px; width: 16px; height: 16px;'></div></div>");
            leftButton.find('div').addClass('icon-arrow-left');
            leftButton.width(36);
            leftButton.jqxButton({ theme: theme });

            var rightButton = $("<div style='padding: 0px; margin: 0px 3px; float: left;'><div style='margin-left: 9px; width: 16px; height: 16px;'></div></div>");
            rightButton.find('div').addClass('icon-arrow-right');
            rightButton.width(36);
            rightButton.jqxButton({ theme: theme });

            leftButton.appendTo(element);
            rightButton.appendTo(element);

            var label = $("<div style='font-size: 11px; margin: 2px 3px; font-weight: bold; float: left;'></div>");
            label.text("1-" + paginginfo.pagesize + ' de ' + datainfo.rowscount);
            label.appendTo(element);
            self.label = label;
            // update buttons states.
            var handleStates = function (event, button, className, add) {
                button.bind(event, function () {
                    if (add == true) {
                        button.find('div').addClass(className);
                    }
                    else button.find('div').removeClass(className);
                });
            }

            if (theme != '') {
                handleStates('mousedown', rightButton, 'icon-arrow-right-selected-' + theme, true);
                handleStates('mouseup', rightButton, 'icon-arrow-right-selected-' + theme, false);
                handleStates('mousedown', leftButton, 'icon-arrow-left-selected-' + theme, true);
                handleStates('mouseup', leftButton, 'icon-arrow-left-selected-' + theme, false);

                handleStates('mouseenter', rightButton, 'icon-arrow-right-hover-' + theme, true);
                handleStates('mouseleave', rightButton, 'icon-arrow-right-hover-' + theme, false);
                handleStates('mouseenter', leftButton, 'icon-arrow-left-hover-' + theme, true);
                handleStates('mouseleave', leftButton, 'icon-arrow-left-hover-' + theme, false);
            }

            rightButton.click(function () {
                $("#jqxgrid").jqxGrid('gotonextpage');
            });

            leftButton.click(function () {
                $("#jqxgrid").jqxGrid('gotoprevpage');
            });
            return element;
        }

        $("#jqxgrid").bind('pagechanged', function () {
            var datainfo = $("#jqxgrid").jqxGrid('getdatainformation');
            var paginginfo = datainfo.paginginformation;
            self.label.text(1 + paginginfo.pagenum * paginginfo.pagesize + "-" + Math.min(datainfo.rowscount, (paginginfo.pagenum + 1) * paginginfo.pagesize) + ' de ' + datainfo.rowscount);
        });

        /* Fin de Paginas de la Grilla */
        var theme = 'metrodark';//'classic';
        $("#jqxgrid").jqxGrid({
            theme: theme,
            source: source,
            columnsresize: true,
            width: 900,
            pageable: true,
            pagerrenderer: pagerrenderer,
            pagesize: 800,
            height: 250,
            showfilterrow: true,
            filterable: true,
            columns: [

              { text: 'Cliente', datafield: 'Cliente', width: 650 /*, cellrenderer: linkenderer */ },
              { text: 'Fecha', datafield: 'Fecha', width: 120 },
              { text: 'Monto', datafield: 'Monto', width: 65 },
              { text: 'CodComp', datafield: 'CodComp', width: 65, hidden: 'hides' },
            ]
        });



        var dataFields = [
                { name: 'produc' },
                { name: 'Precio' },
                { name: 'Cant' },
                { name: 'SubTotal' },
                { name: 'CodComp' },
                
        ];

        var source =
        {
            datatype: "json",
            datafields: dataFields,
            url: '@Url.Action("JsonDetComp", "Json", new { area = "" }, null)'
        };

        var dataAdapter = new $.jqx.dataAdapter(source);

        dataAdapter.dataBind();
        $("#jqxgrid").on('rowselect', function (event) {
            var CodComp = event.args.row.CodComp;
            var records = new Array();
            var length = dataAdapter.records.length;
            for (var i = 0; i < length; i++) {
                var record = dataAdapter.records[i];
                if (record.CodComp == CodComp) {
                    records[records.length] = record;
                }
            }
            var dataSource = {
                datafields: dataFields,
                localdata: records
            }
            var adapter = new $.jqx.dataAdapter(dataSource);

            // update data source.
            $("#ordersGrid").jqxGrid({ source: adapter });
        });

        var linkrenderer = function (id, row, column, value) {

            var datarow = $("#ordersGrid").jqxGrid("getcellvalue", id, "link1");
            html = "<a href='" + datarow + "'target ='_blank'  >" + value + "</a>";
            return html;
        }
        $("#ordersGrid").jqxGrid(
        {
            width: 900,
            height: 220,
            theme: theme,
            columnsresize: true,/*
                keyboardnavigation: false,*/
            columns: [
  
                { text: 'produc', datafield: 'produc', width: 350 },
                { text: 'Precio', datafield: 'Precio', width: 105 },
                { text: 'Cant', datafield: 'Cant', cellsformat: 'd', width: 50 },
                { text: 'SubTotal', datafield: 'SubTotal', width: 250,  },
  
                { text: 'CodComp', datafield: 'cod_cont', width: 90, hidden: 'hides' },

            ]
        });
        $("#ordersGrid").jqxGrid('selectrow', 0);
 

    }
</script>
}


