
@{
    ViewBag.Title = "RegistraComprobante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
 
<div class="container" >
    <div class="master">
        <table>
            <tr>
 
                <td>Fecha de Venta</td>
                <td>
                    <input type="text" id="cabe_fecha" />
                    <span class="error">Valid order date requered (ex. MM-DD-YYYY)</span>
                </td>
            </tr>
            <tr>
                <td>Nombre del Cliente</td>
                <td colspan="3">
                    <input type="text" id="cliente" name="cliente" />
                    <input type="hidden" id="usu_docid_codigo" name=" usu_docid_codigo" /> 
                </td>
            </tr>
        </table>
    </div>
    <div class="details">
        <h4>Order Items</h4>
        <table width="100">
            <tr>
                <td>Producto</td>
                <td>Cantidad</td>
                <td>Precio</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="itemName" />
                    <input type="hidden" id="itemNamecodigo" />
                    <span class="error">Se Requere Producto</span>
                </td>
                <td>
                    <input type="text" id="quantity" />
                    <span class="error">Se Requiere Cantidad</span>
                </td>
                <td>
                    <input type="text" id="rate" readonly />
                    <span class="error">Se Requiere Precio</span>
                </td>
       
            </tr>
        </table>
        <div id="orderItems" class="tablacontainer">

        </div>
        <div style="padding:10px 0px; text-align:left">
            <input id="submit" type="button" value="Save" style="padding:10px 20px" />
        </div>
    </div>
</div>



<div id="jqxgrid"></div>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    @section Scripts{
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
 
 
        <script type="text/javascript">
    $(document).ready(function () {

 
        $('#cliente').css('width', '340px'); $('#itemName').css('width', '340px');
        
        $("#cliente").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("Jsoncliente", "Json", new { area = "" }, null)', dataType: "json", data: { term: request.term,   },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.nomcompleto, Codigo: item.Codigo, };
                        }));
                    }
                });
            }, minLength: 2,
            focus: function (event, ui) { event.preventDefault(); $(this).val(ui.item.label); },
            select: function (event, ui) {
                event.preventDefault(); $(this).val(ui.item.label);
                $("#usu_docid_codigo").val(ui.item.Codigo);
             
            }
        });


        $("#itemName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("JsonProducto", "Json", new { area = "" }, null)', dataType: "json", data: { term: request.term, },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.nomcompleto, Codigo: item.Codigo, precio: item.precio, };
                        }));
                    }
                });
            }, minLength: 2,
            focus: function (event, ui) { event.preventDefault(); $(this).val(ui.item.label); },
            select: function (event, ui) {
                event.preventDefault(); $(this).val(ui.item.label);
                $("#itemNamecodigo").val(ui.item.Codigo); $("#rate").val(ui.item.precio); $("#quantity").focus();
            }
        });
        


                $("#cabe_fecha").datepicker({ autoSize: true, dateFormat: "dd/mm/yy", maxDate: '+0D', changeMonth: true, changeYear: true, yearRange: '-100:+0' });
                var orderItems = [];
                // save button click function
                $('#submit').click(function () {
                    // validation or order
                    var isAllValid = true;
                    if (orderItems.length == 0) {
                        $('#orderItems').html('<span style="color:red;">Debe ingresar Productos</span>');
                        isAllValid = false;
                    }


                    if ($('#cabe_fecha').val().trim() == '') {
                        $('#cabe_fecha').siblings('span.error').css('visibility', 'visible');
                        isAllValid = false;
                    } else {
                        $('#cabe_fecha').siblings('span.error').css('visibility', 'hidden');
                    }

                    if ($('#cliente').val().trim() == '') {
                        $('#cliente').siblings('span.error').css('visibility', 'visible');
                        isAllValid = false;
                    } else {
                        $('#cliente').siblings('span.error').css('visibility', 'hidden');
                    }



                    // Save if valid
                    if (isAllValid) {
                        var data = {
                            OrderNo: $('#orderNo').val().trim(),
                            OrderDate: $('#orderDate').val().trim(),
                            //Sorry forgot to add Description Field
                            Description: $('#description').val().trim(),
                            OrderDetails: orderItems
                        }
                        $(this).val('Please wait......')
                        $.ajax({
                            //                        url: 'URL FOR POST ACTION HERE',
                            url: '/Home/SaveOrder',
                            type: "POST",
                            data: JSON.stringify(data),
                            datatype: "JSON",
                            contentType: "application/json",
                            success: function (d) {
                                // check is successfully save to database
                                if (d.status == true) {
                                    //will send status from server side
                                    alert('Successfully done.');
                                    //clear form
                                    orderItems = []; $('#orderNo').val(''); $('#orderDate').val('');
                                    $('#orderItems').empty('');
                                } else {
                                    alert('Failed');
                                }
                            },
                            error: function () {
                                alert('Error. Please try again.');
                            }
                        });
                    }
                });


                var theme = 'metrodark';//'classic';
                // prepare the data
                var datagrid = {};

                var generaterow = function (dnom, dcant, dpre , dcodp ) {
                    var row = {};
                    row["prod_descri"] = dnom; row["cant_prod"] = dcant;
                    row["prod_precio"] = dpre; row["cod_prod"] = dcodp; row["SubTotal"] =  (dpre  *  dcant ) ;
                    return row;
                }
                var deletedatos = function (id ) { delete orderItems[id]; }

                var source =
                {
                    localdata: datagrid,
                    datatype: "local",
                    datafields:
                    [
                        { name: 'prod_descri', type: 'string' },
                        { name: 'cant_prod', type: 'string' },
                        { name: 'prod_precio', type: 'string' },
                        { name: 'cod_prod', type: 'string' },
                        { name: 'SubTotal', type: 'number' },

                    ],
                    addrow: function (rowid, rowdata, position, commit) { commit(true); },
                    deleterow: function (rowid, commit) {  commit(true);  },
                };
                var dataAdapter = new $.jqx.dataAdapter(source);
                // initialize jqxGrid
                $("#jqxgrid").jqxGrid(
                {
                    theme: theme, width: 900,
                    height: 350,
                    source: dataAdapter,
                    showtoolbar: true,
                    rendertoolbar: function (toolbar) {
                        var me = this;
                        var container = $("<div style='margin: 5px;'></div>");
                        toolbar.append(container);
                        container.append('<input id="addrowbutton" type="button" value="Agregar" />');
                        container.append('<input style="margin-left: 5px;" id="deleterowbutton" type="button" value="Eliminar" />');
                        $("#addrowbutton").jqxButton();
                        $("#deleterowbutton").jqxButton();
                        // create new row.
                        $("#addrowbutton").on('click', function () {



                            // check validation of order item
                            var isValidItem = true;
                                if ($('#itemName').val().trim() == '') {
                                    isValidItem = false;
                                    $('#itemName').siblings('span.error').css('visibility', 'visible');
                                }
                                else {
                                    $('#itemName').siblings('span.error').css('visibility', 'hidden');
                                }

                                if (!($('#quantity').val().trim() != '' && !isNaN($('#quantity').val().trim()))) {
                                    isValidItem = false;
                                    $('#quantity').siblings('span.error').css('visibility', 'visible');
                                }
                                else {
                                    $('#quantity').siblings('span.error').css('visibility', 'hidden');
                                }

                                if (!($('#rate').val().trim() != '' && !isNaN($('#rate').val().trim()))) {
                                    isValidItem = false;
                                    $('#rate').siblings('span.error').css('visibility', 'visible');
                                }
                                else {
                                    $('#rate').siblings('span.error').css('visibility', 'hidden');
                                }

                            // add item to list if valid
                            if (isValidItem) {
                                var dnom = $('#itemName').val().trim();
                                var dcant = parseInt($('#quantity').val().trim());
                                var dpre = parseFloat($('#rate').val().trim());
                                var dcodp =   $('#itemNamecodigo').val().trim();
                                var datarow = generaterow(dnom, dcant, dpre, dcodp);
                                var commit = $("#jqxgrid").jqxGrid('addrow', null, datarow);

                                orderItems.push({
                                    prod_descri: dnom,
                                    cant_prod: dcant,
                                    prod_precio: dpre,
                                    SubTotal: dcant * dpre,
                                    Cod_prod: dcodp
                                });

                                $('#itemName').val('');
                                $('#quantity').val('');
                                $('#rate').val('');
                                $('#itemNamecodigo').val('');
                            }




                        });

                        // delete row.
                        $("#deleterowbutton").on('click', function () {
                            var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');
                            var rowscount = $("#jqxgrid").jqxGrid('getdatainformation').rowscount;
                            if (selectedrowindex >= 0 && selectedrowindex < rowscount) {
                                var id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
                                var commit = $("#jqxgrid").jqxGrid('deleterow', id);
                                deletedatos(id);
                            }
                        });
                    },


                    columns: [
                      { text: 'Producto', datafield: 'prod_descri', width: 240 },
                      { text: 'Cantidad', datafield: 'cant_prod', width: 90 },
                      { text: 'CodigoPro', datafield: 'cod_prod', width: 80, cellsalign: 'right', hidden: 'hides' },
                      { text: 'Precio', datafield: 'prod_precio', width: 90, cellsalign: 'right'  },
                      { text: 'SubTotal', datafield: 'SubTotal', width: 120, cellsalign: 'right'  }
                    ]
                });
            });
        </script>
    }

    <style>
        /* Addind some css for looks good*/
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 90%;
        }
        /* CSS for table*/
        .container td {
            vertical-align: top;
        }

        .tablecontainer table {
            width: 100%;
            border-collapse: collapse;
            border-top: 1px solid #BFAEAE;
            border-right: 1px solid #BFAEAE;
        }

        .tablacontainer {
            border-bottom: 2px solid #8FAEAE !important;
        }

            .tablacontainer th, .tablacontainer td {
                text-align: left;
                border-left: 1px solid #BFAEAE;
                padding: 5px;
                border-bottom: 1px solid #BFAEAE;
            }

        .ui-widget {
            font-size: 12px !important;
        }
    </style>
