 
@{
    ViewBag.Title = "lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>  @Html.ActionLink("Registar Paciente", "Index")</p> 
<div>@Html.Raw(TempData["mensajeserver"])</div>
 
    <input type="button" id="btnrefescar" value="Actualizar" class="pull-left btn btn-default" />
<br/><br /> 
 
    <div id="jqxgrid"></div>

  

    @section scripts{

        <script type="text/javascript">
    $(document).ready(function () {
        var theme = 'web';//'classic';
        var source = {
            datatype: "json",
            datafields: [
                { name: 'usu_nombres', type: 'string' }, { name: 'usu_numdoc', type: 'string' }, { name: 'usu_apepaterno', type: 'string' }, { name: 'usu_apematerno', type: 'string' },
            ],

            url: '@Url.Action("Json1", "Json", new { area = "" }, null)'
        };
        var self = this; var pagerrenderer = function () {
            var element = $("<div style='margin-left: 10px; margin-top: 5px; width: 100%; height: 100%;'></div>"); var datainfo = $("#jqxgrid").jqxGrid('getdatainformation'); var paginginfo = datainfo.paginginformation; var leftButton = $("<div style='padding: 0px; float: left;'><div style='margin-left: 9px; width: 16px; height: 16px;'></div></div>"); leftButton.find('div').addClass('jqx-icon-arrow-left'); leftButton.width(36); leftButton.jqxButton({ theme: theme }); var rightButton = $("<div style='padding: 0px; margin: 0px 3px; float: left;'><div style='margin-left: 9px; width: 16px; height: 16px;'></div></div>"); rightButton.find('div').addClass('jqx-icon-arrow-right'); rightButton.width(36); rightButton.jqxButton({ theme: theme }); leftButton.appendTo(element); rightButton.appendTo(element); var label = $("<div style='font-size: 11px; margin: 2px 3px; font-weight: bold; float: left;'></div>"); label.text("1-" + paginginfo.pagesize + ' de ' + datainfo.rowscount); label.appendTo(element); self.label = label; var handleStates = function (event, button, className, add) { button.bind(event, function () { if (add == true) { button.find('div').addClass(className); } else button.find('div').removeClass(className); }); }
            if (theme != '') { handleStates('mousedown', rightButton, 'jqx-icon-arrow-right-selected-' + theme, true); handleStates('mouseup', rightButton, 'jqx-icon-arrow-right-selected-' + theme, false); handleStates('mousedown', leftButton, 'jqx-icon-arrow-left-selected-' + theme, true); handleStates('mouseup', leftButton, 'icon-arrow-left-selected-' + theme, false); handleStates('mouseenter', rightButton, 'jqx-icon-arrow-right-hover-' + theme, true); handleStates('mouseleave', rightButton, 'jqx-icon-arrow-right-hover-' + theme, false); handleStates('mouseenter', leftButton, 'jqx-icon-arrow-left-hover-' + theme, true); handleStates('mouseleave', leftButton, 'jqx-icon-arrow-left-hover-' + theme, false); } rightButton.click(function () { $("#jqxgrid").jqxGrid('gotonextpage'); }); leftButton.click(function () { $("#jqxgrid").jqxGrid('gotoprevpage'); }); return element;
        }
        $("#jqxgrid").bind('pagechanged', function () { var datainfo = $("#jqxgrid").jqxGrid('getdatainformation'); var paginginfo = datainfo.paginginformation; self.label.text(1 + paginginfo.pagenum * paginginfo.pagesize + "-" + Math.min(datainfo.rowscount, (paginginfo.pagenum + 1) * paginginfo.pagesize) + ' de ' + datainfo.rowscount); }); var dataAdapter = new $.jqx.dataAdapter(source);
        $("#jqxgrid").jqxGrid({
            theme: theme, width: 800, columnsresize: true, pageable: true, pagesize: 800, height: 400, showfilterrow: true, filterable: true, source: dataAdapter, pagerrenderer: pagerrenderer, selectionmode: 'multiplecellsadvanced', columnsresize: true,
            columns: [
              { text: 'DNI', datafield: 'usu_numdoc', width: 90 }, { text: 'Nombre', datafield: 'usu_nombres' }, { text: 'ApeP', datafield: 'usu_apepaterno' }, { text: 'ApeM', datafield: 'usu_apematerno' },
            ]
        });
        $("#btnrefescar").click(function () { $("#jqxgrid").jqxGrid('updatebounddata'); });


        $("#jqxgrid").on('rowclick', function (event) {
            if (event.args.rightclick) {
                $("#jqxgrid").jqxGrid('selectrow', event.args.rowindex);
                var scrollTop = $(window).scrollTop();
                var scrollLeft = $(window).scrollLeft();
                contextMenu.jqxMenu('open', parseInt(event.args.originalEvent.clientX) + 5 + scrollLeft, parseInt(event.args.originalEvent.clientY) + 5 + scrollTop);
                return false;
            }
        });



    });
        </script>
    }
