 
<h3>@ViewBag.Message</h3>

<address>
    Ing. Guillermo Rodriguez<br />
    Puedes Seguirme en Twitter como &#64;elguilleweb<br />
    <abbr title="Phone">P:</abbr>

   

    Usuario de Aplicacion : @ViewBag.ApplicationUser <br />

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>