
@{
    ViewBag.Title = "Respuesta";
}



 
<p>vista de respuesta</p> <br/>
    <div>@Html.Raw(TempData["mensajeserver"])</div>
 


<a href="javascript:history.back(2)">Volver a la p&aacute;gina anterior</a>s